* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 100%;
}

body {
display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(72, 164, 218) 0%, rgba(237,245,249,1) 75%);
  background-repeat: no-repeat;
}

header {
  display: flex;
  padding: 50px;
  background: #818589;
  justify-content: center;
  
}

#view-score {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  color: #e0d9d0;
}

h1 {
  text-align: center;
}

#quiz-timer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;  
  font-size: 20px;
  color: #021f24;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button-box {
  display: flex;
  justify-content: center;
}


.start-button {
  width: 100px;
  height: 50px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
  background: radial-gradient(circle, rgb(28, 26, 2) 0%, rgba(148, 136, 171, 0.954) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizContainer {
  width: 50%;
}
